extends layout

block content
    .detail-container
        a.w3-button.w3-light-grey.back-button(href="/books")
            i.fas.fa-arrow-left
            |  Назад к списку
        .w3-card.w3-white.w3-round-large.book-detail
            h2.w3-text-blue= book.title
            p
                strong Автор:&nbsp;
                | #{book.author}
            if book.publishDate
                p
                    strong Год публикации:&nbsp;
                    | #{new Date(book.publishDate).toLocaleDateString('ru-RU')}

            if book.isAvailable
                p
                    span.w3-tag.w3-green.w3-round-large Доступна
            else
                p
                    span.w3-tag.w3-orange На руках
                    if borrower
                        |  у #{borrower.username}
                    if book.returnDate
                        br
                        - const isOverdue = new Date(book.returnDate) < new Date()
                        - const returnDate = new Date(book.returnDate).toLocaleDateString('ru-RU')
                        span(class=isOverdue ? 'w3-text-red' : 'w3-text-blue')
                            i.fas.fa-clock
                            |  Вернуть до #{returnDate}
            hr
            if user
                .book-actions
                    if user.role === 'admin'
                        a.w3-button.w3-blue.w3-round-large(href=`/books/${book.id}/edit`)
                            i.fas.fa-edit
                            |  Редактировать
                if book.isAvailable
                    form.borrow-form(action=`/books/${book.id}/borrow`, method="post")
                        .form-group
                            label.w3-text-grey(for="days") Срок (дней):
                            input#days.w3-input.w3-border.w3-round-large(name="days", type="number", min="1", max="60", value="14")
                        button.w3-button.w3-green.w3-round-large(type="submit") Взять книгу
                else
                    if user.role === 'admin' || (borrower && borrower.id === user.id)
                        form.borrow-form(action=`/books/${book.id}/return`, method="post")
                            button.w3-button.w3-orange.w3-round-large(type="submit") Вернуть книгу